h1 {font-size: x-large;
  color: gold;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px purple;

}
h2 {font-size: x-large;
  font-family: 'Pacifico', cursive;

}
h3 {font-size: x-large;
  font-family: 'Pacifico', cursive;
  color: midnightblue;
  text-shadow: 2px 2px gold;
}
h4 {font-size: x-large;
  font-family: 'Pacifico', cursive;
  color: darkcyan;
  text-shadow: 2px 2px red; 

}
h5 {font-size: x-large;
  font-family: 'Pacifico', cursive;
  color: coral;
  text-shadow: 2px 2px blue;

}
h6 {font-size: x-large;
  font-family: 'Pacifico', cursive;
  color: cadetblue;
  text-shadow: 2px 2px violet;

}

table, td, th {text-align: center;
  border: 1px solid black; position: relative;
}

head {
  display: block;
}

hr {
  background-color:crimson;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

nav {background-color: black;justify-content: space-between
 

}

#Logo {
  background-color: crimson;color: aliceblue;font-size:x-large;
  margin-right: 30px;
} 

#index {
  color: aliceblue;font-size: small; margin-right: 30px

}

#Port {
  color: aliceblue;font-size: small;margin-right: 30px;
}

#About {
  color: aliceblue;font-size: small;margin-right: 30px;

}

#Contact {
  color: aliceblue;font-size: small;margin-right:30px;
  
}

#Kitchen {
  color: aliceblue;
  font-size: small;
  margin-right: 30px;
  
 
}

.topnav input[type=text] {
  white-space: nowrap;
  padding: 1px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 14px;
}


#Search {background-color: red;
  width: 26px;
    height: 26px;
    
}

#Cart {
  width: 16px;
  height: 16px;
  background-color: red;
  float: right;
  margin-left: 30px;
}

#Foot {background-color: black;
font-style: italic;}

#Introduction a:hover {
  background-color: blue;
}

#Unos p {font-family: 'Pacifico', cursive;

}

#Bla {font-family: 'Caveat', cursive;
  
}

#Bla2 {font-family: 'Caveat', cursive;

}

p {font-family: 'Pacifico', cursive;

}
